<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <title>@ViewBag.Title</title>
    @Html.CssFile("/Areas/Manage/lib/Amaze UI/css/amazeui.min.css")
    @Html.CssFile("/Areas/Manage/css/public/nav.css")
    @Html.CssFile("/Areas/Manage/css/public/public.css")
    @Html.JsFile("/lib/jquery/jquery.min.js")
    @Html.JsFile("/Areas/Manage/lib/Amaze UI/js/amazeui.min.js")
    @Html.JsFile("/Areas/Manage/js/public/nav.js")
    @*@Html.JsFile("/Areas/Manage/js/public/theme.js")*@
    
</head>
<body data-type="index" class="theme-white">
    @RenderPage("/Areas/Manage/Views/Shared/_Layout_Head.cshtml")
    <div class="tpl-page-container tpl-page-header-fixed " id="wrapper">
        <!-- 内容区域 -->
        @RenderPage("/Areas/Manage/Views/Shared/_Layout_LeftNav.cshtml")
        <div class="tpl-content-wrapper">
            @RenderBody()
        </div>
    </div>

    @*@RenderSection("scripts", required: false)*@
    @*@RenderPage("/Views/Shared/_Layout_Footer.cshtml")*@
</body>
</html>
